$main-color: #ca8e0e;
$secondary-color: #cf2158;

@media screen and (max-width: 1366px) {
  html {
    body {
      #root {
        .App {
          .navbar {
            .container {
              width: 70%;
              a {
                font-size: 16px;
              }
              a:hover {
                color: $secondary-color;
                font-size: 20px;
                transition: all 0.1s, color 0.5s;
              }
            }
          }

          .scroll {
            top: 70px;
          }
          .active {
            top: 150px;
          }
          #about {
            scroll-margin-top: 100px;
            grid-template-columns: 27% 27%;

            .info,
            .more-info,
            .contact {
              font-size: 18px;
            }
            .more-info {
              width: 100%;
            }
          }

          #resume {
            scroll-margin-top: 100px;

            .education,
            .experience,
            .other-strengths {
              width: 70%;
            }
            .bar,
            .text {
              width: 50%;
            }
          }
          #projects {
            scroll-margin-top: 100px;
            margin-bottom: 150px;
            .project {
              flex-direction: column;
              .container {
                width: 60vw;
                min-height: 350px;
                margin-top: 50px;
              }
            }
          }
          #contact {
            scroll-margin-top: 100px;
            form {
              width: 50%;

              .message {
                min-height: 200px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 810px) {
  html {
    body {
      #root {
        .App {
          #about {
            grid-template-columns: 24% 24%;

            .info,
            .more-info,
            .contact {
              font-size: 16px;
            }
          }
          #resume {
            .bar,
            .text {
              width: 65%;
            }
          }
          #projects {
            .project {
              .container {
                width: 75%;
                min-height: 310px;
              }
            }
          }
          #contact {
            form {
              width: 80%;
              margin-bottom: 200px;
              .top {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  html {
    body {
      #root {
        .App {
          .navbar {
            width: 100vw;
            .container {
              width: 90%;
            }
          }

          #about {
            grid-template-columns: 32% 32%;

            h2 {
              font-size: 20px;
            }
            .more-info,
            .contact {
              font-size: 15px;
              text-align: center;
              justify-self: center;
            }
            .more-info {
              grid-column-start: 1;
              grid-column-end: 3;
            }
            .contact {
              grid-column-start: 1;
              grid-column-end: 3;
            }
          }
          #resume {
            display: flex;
            flex-direction: column;
            align-items: center;

            ul {
              position: relative;
              left: -6px;
            }

            .education,
            .experience,
            .other-strengths {
              width: 75vw;
              border-left: 2px solid $secondary-color;

              margin-bottom: 30px;
              padding-left: 19px;
            }

            .skills,
            .languages {
              width: 75vw;
              border-left: 2px solid $secondary-color;
              margin-bottom: 30px;
              padding-left: 5%;
            }
            .languages {
              padding-bottom: 20px;
            }
            .other-strengths {
              padding-bottom: 10px;
            }

            .bar,
            .text {
              width: 100%;
            }
          }

          #projects {
            .project {
              .container {
                width: 90vw;
                min-height: 180px;

                span {
                  bottom: 30px;
                }
              }
            }
          }

          #contact {
            form {
              width: 80vw;
              .top {
                flex-direction: column;
              }

              input {
                width: 100%;
                height: 40px;
                margin-bottom: 10px;
              }
              .message {
                min-height: 120px;
              }
              #button {
                margin-left: 25%;
                width: 50%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 415px) {
  html {
    body {
      #root {
        .App {
          #projects {
            .project {
              margin-top: 50px;
              :hover {
                button {
                  z-index: 1;
                }
              }

              .youtube-clone:hover {
                background: linear-gradient(
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.6)
                  ),
                  url('./Components/Assets/youtube.PNG');
                background-size: cover;
              }

              .amazon-clone:hover {
                background: linear-gradient(
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.6)
                  ),
                  url('./Components/Assets/amazon.PNG');
                background-size: cover;
              }

              .a-star:hover {
                background: linear-gradient(
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.6)
                  ),
                  url('./Components/Assets/astar.PNG');
                background-size: cover;
              }
            }
          }
        }
      }
    }
  }
}
